version: '3.8'

services:
  docker:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    networks:
      - jenkins
    environment:
      - DOCKER_TLS_CERTDIR= # Esto deshabilita explícitamente TLS en dind
    volumes:
      - jenkins-data:/var/jenkins_home
    command: --storage-driver overlay2

  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins-blueocean
    user: root
    restart: unless-stopped
    networks:
      - jenkins
    environment:
      - DOCKER_HOST=tcp://docker:2375 # Conectar al puerto no seguro
      - DOCKER_TLS_VERIFY= # Asegurar que esté vacío
      - DOCKER_CERT_PATH= # Asegurar que esté vacío
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
    depends_on:
      - docker

networks:
  jenkins:
    driver: bridge

volumes:
  jenkins-data:
  jenkins-docker-certs:
